.kross{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
        background-color: rgb(240, 240, 240);
        padding: 12px 16px;
        width: 250px;
        border: none;
        border-radius: 10px;
        transition: 4s;
        &:focus{
            width: 280px;
            transition: 4s;

        }
    }
}